.photos {
  display: flex;
}
.before, .after{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.before img, .after img{
  width: 90%;
  height: 350px;
  margin: auto;
  border-radius: 10px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  color: #797a78;
  height: 50px;
  width: 90%;
  margin: auto;
}
p {
  height: 100px;
  width: 90%;
  text-align: justify;
  margin: auto;
  padding: 20px;
  margin-bottom: 40px;
}
