@media only screen and (max-width: 1380px) {
  .container-width {
    width: 1100px;
  }
  .logo {
    height: 100px;
    width: 200px;
  }
  .navbar .navlist {
    font-size: 13px;
  }
  .navbar .navlist li:not(.contact) {
    padding: 0 15px;
  }
  #toll {
    font-size: 10px;
  }
  .contact {
    padding-left: 15px;
  }
  .logo-container {
    width: 30%;
  }
  .liHome {
    font-size: 26px;
  }
  .social-media {
    padding-left: 10%;
  }
  .themeAbout{
    height: 110vh;
    padding-top: 12%;
  } 
}
@media only screen and (max-width: 950px) {
  .approach ul,
  .testimonial p {
    font-size: 18px;
  }
  .modal{
    top:18%;
    
  }
}
@media only screen and (max-width: 768px) {
  .approach ul,
  .testimonial p {
    font-size: 20px;
  }
  .navbar-flex {
    position: relative;
  }
  .navbar .navlist {
    display: none;
  }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    background-color: rgba(230, 226, 221, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    display: block;
  }
  .overlay ul {
    list-style-type: none;
    font-size: 6vh;
    position: relative;
    text-align: center;
    width: 100%;
    text-align: center;
    top: 10%;
  }
  .overlay ul a {
    display: block;
    transition: 0.3s;
    color: #373a36;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 35px auto;
  }
  #tollResp {
    padding: 5px;
    border-radius: 30px;
    border: 1px solid #d48166;
    background-color: white;
    color: #d48166;
    text-transform: lowercase;
    width: 400px;
    font-size: 5vh;
  }
  #toll-resp {
    color: #373a36;
    background-color: rgba(212, 129, 102, 0.3);
  }
  .overlay li a:not(#tollResp):hover,
  #active {
    /* color: #b8c0b8; */
    color: #d48166;
  }
  .hamburgerCont {
    position: absolute;
    right: 0;
    top: 25px;
  }
  .hamburger {
    height: 8px;
    margin: 9px;
    width: 70px;
    border-radius: 10px;
    background-color: #d48166;
    display: block;
  }
  .close {
    position: absolute;
    font-size: 135px;
    color: #d48166;
    right: 55px;
    top: -20px;
    /* display: none; */
  }
  .information h2 {
    font-size: 15px;
  }
  input,
  textarea {
    padding: 10px;
    font-size: 18px;
  }
  .modal{
    top:30%;
    
  }
}
@media only screen and (max-width: 650px) {
  .approach ul,
  .testimonial p {
    font-size: 22px;
  }
  .information h2 {
    font-size: 19.5px;
  }
  .privacyPolicy p {
    font-size: 18px;
  }
  .privacyPolicy h3 {
    font-size: 20px;
  }

}
@media only screen and (max-width: 550px) {
  .approach ul,
  .testimonial p {
    font-size: 24px;
  }
  .approach h1,
  .testimonial h1 {
    font-size: 45px;
  }
  .design-cont {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -4%;
  }
  .consultancy {
    width: 50%;
  }
  .img2 {
    margin-right: 0;
    margin-bottom: 4%;
  }
  .consultancy button {
    font-size: 26px;
  }
  input,
  textarea {
    padding: 12px;
    font-size: 20px;
  }
  .maps-sec {
    flex-direction: column;
    margin-top: 12%;
  }
  #mapContact {
    width: 100%;
  }
  .flipcard {
    left: 170%;
    top: -190px;
  }
  .information {
    margin-top: 2%;
    margin-left: 0;
    height: 220px;
    width: 60%;
  }
  .Contactform h1 {
    font-size: 30px;
  }
  .privacyPolicy p {
    font-size: 20px;
  }
  .privacyPolicy h3 {
    font-size: 22px;
  }
  .form .col-1-2 {
    display: block;
    width: 100%;
    padding: 2%;
    margin: 0;
  }
  .theme .col-1-3 {
    margin: auto;
    width: 49.6%;
  }
  .theme .col-1-3 img{
    height: 400px;
  }
#workT{
  top: 22.5%;
}
.bgtext {
  font-size: 50px;
}
}
@media only screen and (max-width: 450px) {
  body {
    padding-bottom: 160px;
  }
  .approach ul,
  .testimonial p {
    font-size: 26px;
  }
  .approach h1,
  .testimonial h1 {
    font-size: 50px;
  }
  .home-strip {
    background-color: transparent;
    position: relative;
  }
  .home-slideshow {
    margin-top: 18%;
    width: 100%;
    height: 80vh;
  }
  .quotes {
    position: absolute;
    z-index: 5;
    color: white;
    top: 75%;
    width: 65%;
    padding: 20px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(55, 58, 54, 0.4);
  }
  .approach {
    margin-top: 280px;
  }
  .footer {
    flex-direction: column;
    font-size: 17px;
  }
  .policies {
    text-align: center;
    margin-bottom: 15px;
  }
  small {
    text-align: center;
    margin-bottom: 15px;
  }
  .social-media {
    padding-left: 0;
    text-align: center;
  }
  .fa-linkedin-in {
    padding-left: 0;
  }
  .information h2 {
    font-size: 22px;
  }
  input,
  textarea {
    padding: 14px;
    font-size: 24px;
  }
  input[type="submit"] {
    margin-bottom: 120px;
  }
  .information {
    height: 250px;
  }
  .privacyPolicy h1 {
    font-size: 36px;
  }
  .privacyPolicy p {
    font-size: 22px;
  }
  .privacyPolicy h3 {
    font-size: 24px;
  }
  .box{
    margin-bottom: 12%;
  }
  #board{
    margin-bottom: 4%;
  }

.theme{
  padding-bottom: 100px;
}
.Consult-Archi img{
  margin-bottom: 120px;
}
.Consult-Archi p{
  font-size: 20px;
}
.Consult-Archi a{
  font-size: 22px;
}

}

@media only screen and (max-width: 400px) {
  .approach ul,
  .testimonial p {
    font-size: 29px;
  }
  .consultancy button {
    font-size: 29px;
  }
  .approach {
    width: 100%;
  }
  .information h2 {
    font-size: 24px;
  }
  input,
  textarea {
    font-size: 26px;
  }
  .flipcard {
    left: 180%;
  }

  .privacyPolicy p {
    font-size: 24px;
  }
  .privacyPolicy h3 {
    font-size: 26px;
  }
}
