.Service_Main{
  margin-top: 11%;
  margin-bottom: 100px;
}
.thumbnails {
  overflow: hidden;
  padding: 30px;
}
.thumbnails li {
  float: left;
  width: 50%;
  position: relative;
  min-height: 400px;
  background-color: #ffe4db;
  border: 10px solid #ffe4db;
  overflow: hidden;
}
.thumbnails li img {
  width:100%;
  display: block;
  position: absolute;
  height:100%;
  top:50%;
  transform: translate(-50%, -50%);
  left:50%;
  border-radius: 10px;
  border: 1px solid #373a36;
}
.thumbnails li:hover{
  opacity:0.8;
  cursor: pointer;
}


@media screen and (max-width: 760px) {
  .Service_Main{
    margin-top: 11%;
  }
}

.thumbnails h2{
position: absolute;
  bottom: 0;
  left: 0;
  background:rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.7); 
  color: #BCCBD7;
  width: 100%;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0 0 10px 10px;
  
}
.hero img{
opacity:0.4;
width:100%;
height: 600px;
}

.hero{
position:relative;
width:100%;
}
.hero-text{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size:35px;
font-family:"Courgette", cursive;
text-align:justify;
color:#373a36;
width: 90%;
}
.hero-text form{
  text-align:center;
}
@media screen and (max-width: 1200px) {
 .hero-text{
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
 }
}
.offers{
background-color:#ffe4db;
text-align:center;
font-family:"Courgette", cursive;
font-size:40px;
text-align:center;
color:#373a36;
margin:30px auto;
padding:20px;
}

.hero-text form input[type=text] {
  width: 30%;
  box-sizing: border-box;
  border: 1px solid#373a36;
  box-shadow: 0 0 10px #373a36;
  border-radius: 4px;
  font-size: 18px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  margin-top:50px ;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.hero-text form input[type=text]:focus {
  width: 80%;
}